<div>
    <div class="toolbar">

    </div>
    <div class="content">
        <table mat-table [dataSource]="brokers" matSort class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="cluster">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cluster </th>
                <td mat-cell *matCellDef="let element"> {{element.cluster}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Broker </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="pagination"></div>
</div>